* {
    font-family:'Courier New', Courier, monospace;
  }
  .nav {
    display: flex;
    justify-content: space-around;
  }
  /* For the aesthetics */
  .nav-button {
    background-color: lightpink;
  }

  .headline {
    position: absolute;
    height: 686.4px;
    width: 1519px;
    margin-top: 18.24%;
    margin-bottom: 37.13%;
    margin-left: 3.02%;
    margin-right: 17.86%;
  }

  .half {
    position: absolute;
    width: 1920px;
    height: 1287px;
    left: 0px;
    top: 1006px;
    background-color: lightpink;
  }
  
  .portfolio {
      
  }